@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;


:root {
  /* Brand palette */
  /* --bg: #fdf8f5; */
  --ink: #222222;
  --muted: #5c5c5c;
  --brand: #7c5a3a;
  --panel: #ffffff;
  --ring: #e7d5c5;
  --brand-text: #BE9B81;
  --primary: #b48159;



  /* Radii */
  --r-lg: 1rem;
  --r-2xl: 1.25rem;
}


@theme {
  /* Colors */
  --color-bg: #e4d2c4;
  --color-ink: #213547;
  /* --color-panel: #f9f9f9; */
  /* --color-link: #646cff; */
  /* --color-link-hover: #747bff; */
  /* --color-button: #1a1a1a; */
  --font-roboto: "Roboto", sans-serif; 
}

@layer base {

  html,
  body,
  #root {
    --color-from: #E0AC85;
    --color-to: #e4d2c4;
    height: 100%;
    margin: 0;
    background: var(--color-bg);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    backdrop-filter: blur(10px);
  }
}


@layer utilities {
  .container-px {}

  .card {
    background: var(--color-panel);
    border-radius: var(--radius-2xl);
    box-shadow: var(--shadow-card);
    padding: 1.5rem;
  }

  .btn {
    background-color: var(--color-button);
    /* color: white; */
    font-weight: 500;
    font-size: 1rem;
    padding: 0.6em 1.2em;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
  }

  .btn:hover {
    border-color: var(--color-link);
    background-color: #2a2a2a;
  }

  .btn:focus,
  .btn:focus-visible {
    outline: 4px auto
  }
}




img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}